.button{
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 220px;
    height: 55px;
    transition: .5s;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(84, 95, 122, 0.09);
    font-size: 18px;
    position: relative;
}

.button-big{}

.button-medium{
    width: 190px;
}

.button-small{
    width: 150px;
    height: 45px;
}
.button-colored{
    transition: .5s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 30px;
    height: 100%;
}

.button-blue{
    opacity: 1;
    background: linear-gradient(90deg, #4DAEF4 0%, #842AFF 100% )!important;
}

.button:hover > .button-blue-hovered{
    opacity: 1;
}

.button-blue-hovered{
    opacity: 0;
    background: linear-gradient(90deg, #22A2FF 0%, #740EFF 100% )!important;
}


.button-violet{
    opacity: 1;
    background: linear-gradient(90deg, #FA2CA4 0%, #652EEF 100%)!important;
}

.button:hover > .button-violet-hovered{
    opacity: 1;
}

.button-violet-hovered{
    opacity: 0;
    background: linear-gradient(90deg, #EE008B 0%, #490CE2 100%)!important;
}



.button-grey{
    background: linear-gradient(90deg, #EBEBEB 0%, #BBBBBB 100%)!important;
    cursor: default!important;
}

.button-arrow::after{
    position: absolute;
    content: ' ';
    right: 15px;
    top: 20.9px;
    width: 8px;
    height: 15px;
    background-image: url('./assets/img/arrow.svg');
    background-size: cover;
    z-index: 6;
  }


  .button-text{
    z-index: 0;
  }