.button{
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 220px;
    height: 55px;
    transition: .5s;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(84, 95, 122, 0.09);
    font-size: 18px;
    position: relative;
}

.button-big{}

.button-medium{
    width: 190px;
}

.button-small{
    width: 150px;
    height: 45px;
}

.button-blue{
    background-size: 300%;
    background-image: linear-gradient(90deg, #4DAEF4 0%, #842AFF 33%, #22A2FF 66%, #740EFF 100% )!important;
}

.button-blue:hover{
    background-position: -420px;
}

.button-violet{
    background-size: 300%;
    background-image: linear-gradient(90deg, #FA2CA4 0%, #652EEF 33%, #EE008B 66%, #490CE2 100%)!important;
}

.button-violet:hover{
    background-position: -420px;
}

.button-grey{
    background: linear-gradient(90deg, #EBEBEB 0%, #BBBBBB 100%)!important;
    cursor: default!important;
}

.button-arrow::after{
    position: absolute;
    content: ' ';
    right: 15px;
    top: 20.9px;
    width: 8px;
    height: 15px;
    background-image: url('./assets/img/arrow.svg');
    background-size: cover;
  }