.create-cont{
    margin-top: 34.84px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 230px);
    justify-content: space-between;
  }
  .create-cont-top{
    display: flex;
    justify-content: space-between;
  }
  
  .create-cont-bottom{
    display: flex;
    justify-content: space-between;
  }
  
  .create-btn-cont{
    display: flex;
    justify-content: center;
  }
  
  .create-btn-preview{
    background: linear-gradient(90deg, #4DAEF4 0%, #842AFF 100%);
    box-shadow: 0px 10px 10px rgba(84, 95, 122, 0.09);
    font-weight: 500;
    font-size: 16px;
    line-height: 131.52%;
    color: white;
    cursor: pointer;
  
    border-radius: 30px;
    width: 190px;
    height: 55px;
    margin-right: 26.35px;
    box-sizing: border-box;
    padding: 17px 0;
    text-align: center;
  }
  
  .create-btn-submit{
    background: linear-gradient(90deg, #EBEBEB 0%, #BBBBBB 100%);
    box-shadow: 0px 10px 10px rgba(84, 95, 122, 0.09);
    font-weight: 500;
    font-size: 16px;
    line-height: 131.52%;
    color: white;
    cursor: pointer;
  
    border-radius: 30px;
    width: 187.3px;
    height: 57.24px;
    padding: 17px 0;
    text-align: center;
    /* background-image: url('./assets/img/arrow-right.svg'); */
    background-repeat: no-repeat;
  }
  
  .create-popup{
    position: absolute;
    top: 75px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 75px);
    z-index: 69;
    background: rgba(0, 0, 0, 0.14);
  
  }
  
  .create-popup-cont{
    width: 700px;
    height: 770px;
    background: #FFFFFF;
    box-shadow: 0px 32px 60px rgba(70, 67, 79, 0.08);
    border-radius: 50px;
    margin: 25px auto 0 auto;
  }
  
  .create-popup-header{
    height: 90px;
    width: 100%;
    padding: 32.5px 0;
    text-align: center;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #3F414E;
    background: linear-gradient(270deg, #B8FFD5 1.57%, #C6FFDD 7.72%, #FFE5A0 49.03%, #FFAFC2 91.28%, #FF9DB5 100%);
    border-radius: 50px 50px 0px 0px;
  }
  
  .create-popup-body{
    padding: 16.24px 52px 0 52px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .create-popup-body > div{
    margin-top: 67px;
    max-width: 270px;
  }
  
  .create-popup-body-step-text{
    font-size: 17px;
    line-height: 148.5%;
    color: #8F8F8F;
    margin-bottom: 22px;
  }
  
  .create-popup-body-step-1-img{
    background-image: url('./assets/img/welcome-instr-1.svg');
    background-size: cover;
    width: 230.56px;
    height: 126.86px;
  }
  
  .create-popup-body-step-2-img{
    background-image: url('./assets/img/welcome-instr-2.svg');
    background-size: cover;
    width: 239.78px;
    height: 126.86px;
  }
  
  .create-popup-body-step-3-img{
    background-image: url('./assets/img/welcome-instr-3.svg');
    background-size: cover;
    width: 207.19px;
    height: 77.88px;
  }
  
  .create-popup-body-step-4-img{
    background-image: url('./assets/img/welcome-instr-4.svg');
    background-size: cover;
    width: 236.94px;
    height: 122.38px;
  }
   
  .create-popup-btn-ok{
    background: linear-gradient(90deg, #4DAEF4 0%, #842AFF 100%);
    box-shadow: 0px 10px 10px rgba(84, 95, 122, 0.09);
    border-radius: 30px;
    cursor: pointer;
  
    width: 220px;
    height: 55px;
    padding: 16px 0;
    box-sizing: border-box;
    text-align: center;
    margin: 97px auto 0 auto;
  
    font-size: 18px;
    line-height: 131.52%;
    color: #FFFFFF;
  }

  .space-create-wall-cont{
    display: flex;
    flex-wrap: wrap;
    max-width: 620px;
    margin: auto;
    justify-content: center;
}

