.myspaces:after{
    opacity: 0;
    content: url('../SpaceEdit/assets/img/switch-on.svg') ;
    width: 0;
    height: 0;
}  

.myspaces::before{
    opacity: 0;
    content: url('../SpaceEdit/assets/img/switch-off.svg') ;
    width: 0;
    height: 0;
}  

.myspaces{
    width: 1126px;
    margin: auto;
}
.myspaces-cont{
    /* display: flex;
    flex-wrap: wrap; */

    /* justify-content: space-between; */
    margin-top: 35px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    margin-left: -60px;
}

.myspaces-block{
    width: 395px;
    margin-bottom: 55px;
    box-sizing: border-box;
    padding-left: 60px;
}

.myspaces-block-card{
    height: 233px;
    background: grey;
    box-shadow: 0px 32px 60px rgba(84, 95, 122, 0.08);
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    display: block;
}

.myspaces-block-card-bg{
    background-size: 105%;
    background-position: center;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.myspaces-block-card:hover > .myspaces-block-card-bg{
    background-size: 100%;
}
    
.myspaces-block-card-avatar{
    position: absolute;
    filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 0.11));
    top: 12px;
    left: 12px;
    width: 55px;
    height: 55px;
    background-color: white;
    border-radius: 50px;
    background-size: cover;
}

.myspaces-block-card-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 69px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    box-sizing: border-box;
    background-color: white;
    padding: 12px;
    background-image: url('./assets/img/arrow.svg');
    background-repeat: no-repeat;
    background-position: top 23px right 12px;
}

.myspaces-block-card-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #3F414E;
}

.myspaces-block-card-geo{
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #272727;
}

.myspaces-block-publish{
    display: flex;
    justify-content: center;
}

.myspaces-block-publish-marble{
    background-image: url('./assets/img/marble.svg');
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.myspaces-block-publish-text{
    font-size: 18px;
    line-height: 22px;
    color: #3F414E;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.myspaces-none{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.myspaces-none-title{
    color: #8F8F8F;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 25px;
    width: 205px;
}

.myspaces-none-plus{
    width: 103.51px;
    height: 103.51px;
    background-color: #D9E0F8;
    border-radius: 100%;
    background-size: 43px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./assets/img/plus.svg');
    margin-bottom: 12px;
    cursor: pointer;
    transition: .2s;
}

.myspaces-none-plus:hover{
    background-color: #A9B7E0;
}

.myspaces-none-text{
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #A4AED0;
    width: 113px;
}

.myspaces-block-publish-share-cont{
    display: flex;
    align-items: center;
    margin-right: auto;
    cursor: pointer;
}

.myspaces-block-publish-share-icon{
    width: 16px;
    height: 20px;
    background-image: url('./assets/img/share.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 8px;
}

.myspaces-block-publish-share{
    color: #388CFF;
    font-size: 18px;
    line-height: 22px;
}

