.edit-profile{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-profile-title{
    color: #AEB2BE;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
}

.edit-profile-cont{
    margin-top: 65px;
    display: flex;
}

.edit-profile-avatar{
    background: #FCFCFC;
    box-shadow: 0px 32px 60px rgba(70, 67, 79, 0.08);
    border-radius: 600px;
    width: 150px;
    height: 150px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    margin-right: 73px;
    background-position: center;
    background-size: cover;
    transition: .3s;
}

.edit-profile-avatar-text{
    font-size: 17px;
    line-height: 21px;
    color: #AEB2BE;
    transition: .3s;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    flex-direction: column;

}

.edit-profile-avatar-text-none{
    opacity: 0;
}

.edit-profile-avatar:hover > .edit-profile-avatar-text-none{
    opacity: 1;
    background: rgba(252, 252, 252, 0.9);
}

.edit-profile-avatar-text > span{
    color: #388CFF;
}

.edit-profile-avatar-input{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    border-radius: 50px;
}

.edit-profile-inputs{
    width: 280px;
}

.edit-profile-inputs > div {
    margin-bottom: 35px;
}

.edit-profile-input-title{
    font-size: 14px;
    line-height: 17px;
    color: #3F414E;
    margin-bottom: 5px;
    margin-left: 2px;
}

.edit-profile-input{
    height: 32px;
    width: 280px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #E2E2E2;
    color: #3F414E;
    outline: none;
    font-size: 17px;
    line-height: 21px;
    padding: 0 2px 11px 2px;
    box-sizing: border-box;
}

.edit-profile-red-text{
    font-size: 17px;
    line-height: 21px;
    color: #EB5757;
    cursor: pointer;
}

.edit-profile-confirm-button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 131.52%;
    color: #FFFFFF;
    background: linear-gradient(90deg, #4DAEF4 0%, #842AFF 100%);
    box-shadow: 0px 10px 10px rgba(84, 95, 122, 0.09);
    border-radius: 30px;
    width: 220px;
    height: 55px;
    cursor: pointer;
    margin-top: 20px;
}

.edit-profile-input-mimic{
    width: 0px;
    height: 0px;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
}

.edit-profile-error-msg{
    text-align: left!important;
    margin-top: 5px!important;
    margin-left: 3px!important;
}

.edit-profile-success{
    transition: .2s;
    height: 0;
    opacity: 0;
    color: #209b20;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}

.edit-profile-success-visible{
    height: 19px;
    opacity: 1;
    margin-top: 15;
}