* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}


body{
  background-color: #F5F7FE;
}

.background-transparent{
  background: transparent!important;
}

.no-scroll{
  overflow-y: hidden;
}

.not-ready{
  cursor: not-allowed!important;
  opacity: 0.1!important;
}
.input-error{
  border-color: #FF9F9F!important;
}
.input-error::placeholder{
  color: #FF9F9F!important;
}

.button-disabled{
  background: linear-gradient(90deg, #EBEBEB 0%, #BBBBBB 100%)!important;
  cursor: default!important;
}

/* =================== NAVBAR ===================*/


.body-cont{
  max-width: 1180px;
  margin: auto;
}




