* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body{
  background-color: #F5F7FE;
}

.background-transparent{
  background: transparent!important;
}

.no-scroll{
  overflow-y: hidden;
}
/* =================== NAVBAR ===================*/


.body-cont{
  max-width: 1180px;
  margin: auto;
}



