.create-popup-header-close{
    position: absolute;
    width: 22px;
    height: 22px;
    background-image: url('./assets/img/close.svg');
    background-size: cover;
    right: 34px;
    top: 34px;
    cursor: pointer;
}

.create-popup-body-add{
    padding: 35px 43px 0 43px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.create-popup-add-file{
    width: 387.13px;
    height: 220.27px;
    margin: auto;
    background: #FFFFFF;
    border: 1.5px dashed #B6B6B6;
    box-sizing: border-box;
    border-radius: 20px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.create-popup-add-file-3d{
    background-image: url('./assets/img/cube.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 308.75px;
    height: 268.77px;
    border-radius: 0;
}
.create-popup-add-file-3d > :first-child{
    margin-top: 85px;
}

.create-popup-add-file-3d penis {
    font-size: 12px;
}

.create-popup-add-file-input{
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
}

.create-popup-add-file-text{
    width: 170px;
    font-size: 17px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    color: #AEB2BE;
}

.create-popup-add-file-text > div{
    font-size: 14px;
    line-height: 17px;
    margin-top: 25px;
}

.create-popup-add-file-text > div > span{
    color: #388CFF;
}

.create-popup-add-inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
}

.create-popup-add-input-cont{
    margin-top: 25px;
}

.create-popup-add-input-text{
    font-size: 14px;
    line-height: 17px;
    color: #272727;
    padding-left: 1px;
}

.create-popup-add-input{
    width: 280px;
    padding: 0;
    padding-bottom: 11px;
    padding-top: 8px;
    border: 0;
    border-bottom: 1px solid #E2E2E2;
    font-size: 17px;
    line-height: 21px;
    color: #555555;
    outline: none;
    box-sizing: border-box;
    padding-left: 1px;
}

.create-popup-add-input::placeholder{
    color: #8F8F8F;

}

.create-popup-add-textarea{
    width: 100%;
    height: 84px;
    font-size: 15px;
    line-height: 143%;
    color: #555555;
    border: 0;
    margin-top: 25px;
    margin-bottom: 20px;
    outline: none;
    resize: none;
    overflow-y: auto;
    box-sizing: border-box;
    padding-right: 15px;
}

.create-popup-add-textarea::placeholder{
    color: #8F8F8F;
}

.create-popup-mrg-top{
    margin-top: 10px;
}

.create-popup-add-input-short{
    width: 130px;
    margin-right: 20px;
}

.create-popup-add-input-short-cont{
    display: flex;
    flex-wrap: wrap;
    width: 280px;
}

.create-popup-add-input-short-cont > :nth-child(2){
    margin-right: 0;
}
.create-popup-add-input-short-cont > :nth-child(3){
    margin-top: 5px;
}

.create-popup-add-input-short-separator{
    padding-bottom: 11px;
    padding-top: 8px;
    color: #272727;
    border-bottom: 1px solid #E2E2E2;
    font-size: 17px;
    line-height: 21px;
    color: #5555556e;
    padding-right: 9px;
}

.create-popup-btn-cont{
    display: flex;
    justify-content: center;
}
.create-popup-btn-cont > div{
    margin-right: 0;
    margin-left: 0;
}
.create-popup-btn-cont > :nth-child(2){
    margin-left: 25px;
}

.create-popup-error-msg{
    margin-top: 0!important;
    margin-bottom: 10px!important;
}
.create-popup-add-file-loader{
    background-size: cover;
    background-image: url('./assets/img/loader.svg');
    /* background-image: url('./assets/img/fuck.gif'); */
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    transition: .2s;
    left: calc(50% - 25px);
    animation: .5s cubic-bezier(.45,.05,.55,.95) 1s infinite alternate artobjectLoading
}

.add-artobject-popup-3d-preview-big{
    margin-top: 0!important;
    width: 307px;
    height: 267px;
}

.add-artobject-popup-3d-preview-big > canvas{
    border-radius: 20px;
}


.add-artobject-popup-3d-preview-small{
    width: 76.8px;
    height: 50.89px;
    border-radius: 8px;
}

.add-artobject-popup-3d-preview-smaller{
    width: 50px;
    height: 50.89px;
    border-radius: 8px;
}
.add-artobject-popup-3d-preview-micro{
    width: 29px;
    height: 19px;
    border-radius: 3px;
}

.create-popup-add-file-3d-error{
    background-image: url('./assets/img/cubre-red.svg');
}

.create-popup-add-file-preview{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}


.create-popup-delete-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.14);
}

.create-popup-delete{
    width: 528.18px;
    height: 240px;
    background: #FFFFFF;
    box-shadow: 0px 32px 60px rgba(70, 67, 79, 0.08);
    border-radius: 50px;
    margin: auto;
    margin-top: 240px;
    position: relative;
    padding: 33px 61px 0 61px
}


.create-popup-delete-title{
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #3F414E;
    margin: auto;
}

.create-popup-delete-btn-cont{
    margin: auto;
    margin-top: 65px;
    display: flex;
}

.create-popup-delete-btn-cont > :first-child{
    margin-right: 25px;
}

.create-popup-delete-close{
    position: absolute;
    top: 36px;
    right: 34px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    background-image: url('./assets/img/close.svg');
    background-size: cover;
}

@keyframes artobjectLoading {
    from {
        width: 50px;
        height: 50px;
        top: calc(50% - 25px);
        left: calc(50% - 25px);
    }
  
    to {
        width: 30px;
        height: 30px;
        top: calc(50% - 15px);
        left: calc(50% - 15px);
    }
  }

@media screen and (max-height: 900px){
    .create-popup-header{
      /* height: 80px;
      padding: 27.5px 0; */
      height: 70px;
      font-size: 19px;
      padding: 23.5px 0;
    }
    .create-popup-header-close{
      top: 24px;
    }
    .create-popup-cont{
      margin: 5px auto 0 auto;
      /* padding-bottom: 30px; */
      padding-bottom: 20px;
    }
    .create-popup-body-add{
      padding: 25px 43px 0 43px;
    }

    .create-popup-add-input-cont{
        margin-top: 15px;
    }
    .create-popup-add-file{
      height: 203.27px;
      width: 361.13px;
    }
    .create-popup-add-file-3d{
        height: 239.27px;
        width: 273.13px;
    }
    .create-popup-add-file-3d > :first-child{
        margin-top: 70px;
    }
    .add-artobject-popup-3d-preview-big{
        height: 239.27px;
        width: 273.13px;
    }
    .create-popup-add-file-text{
      margin-top: 57px;
    }
    .create-popup-add-inputs{
      margin-top: 10px;
    }
    .create-popup-add-textarea{
      margin-top: 15px;
        height: 45px;
    }
    .create-popup-mrg-top{
      margin-top: 5px;
    }
  }